<div class="friends-list">
  <h3>Friends</h3>
  <ul>
    {% for friend in friends_list.friends.all %}
      <li>
      {% if friend.loggedIn %}
        <span style="color: green; font-size: 1.2em;">&#9679;</span>
      {% else %}
        <span style="color: red; font-size: 1.2em;">&#9679;</span>
      {% endif %}
      |{{ friend }}
      </li>
    {% endfor %}
  </ul>
  <h3>Requested Friends</h3>
  <ul>
  {% for user in friends_list.requested_users.all %}
    <li>
    {{ user }}
    </li>
  {% endfor %}
  </ul>
  <h3>Invitations</h3>
  <ul>
    {% for friend_list in chat_user.requested_by.all %}
        <li>
        {{ friend_list.owner }}
        </li>
    {% endfor %}
  <form method="post" action="{% url 'request_friends' %}">
    {% csrf_token %}
    {{ request_friends_form.as_p }}
    <button type="submit">Request Friends</button>
  </form>

</div>