{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
  <script src="http://localhost:8097"></script>
  <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - ChitChat</title>
    {% vite_hmr_client %}
    {% vite_asset 'src/main.tsx' %}
    <style>
        {% comment %} body {  display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; margin: 0; } {% endcomment %}
    </style>
</head>
<body>
    {% comment %} <div 
      id="react-topbar"
      data-chat-name="{{ chat }}"
      data-chat-id="{{ chat.pk }}"
      data-home-url="{% url 'home' %}"
      data-exit-chat-url="{% url 'exit_chat' %}"
      data-logout-url="{% url 'logout' %}"
    >
      {% csrf_token %}
    </div>
    
    <div 
      class="chat-container" 
      id="chat-container"
      data-get-new-messages-url="{% url 'get_new_messages' %}"
      data-chat-id="{{ chat.pk }}"
    >
        {% include '_messages.html' %}
    </div>

    <div
      id="react-message-form"
      data-url="{% url 'send_message_async' %}"
      data-chat-id="{{ chat_number }}"
    >
        {% csrf_token %}
    </div> {% endcomment %}

    {% csrf_token %}
    <div 
      id="react-chat-page"
      data-chat-name="{{ chat }}"
      data-chat-id="{{ chat.pk }}"
      data-home-url="{% url 'home' %}"
      data-exit-chat-url="{% url 'exit_chat' %}"
      data-logout-url="{% url 'logout' %}"
      data-get-new-messages-url="{% url 'get_new_messages' %}"
      data-send-message-url="{% url 'send_message_async' %}"
      data-csrf-token = "{{ csrf_token }}"
      data-get-chats-url="{% url 'get_chats' %}"
      data-get-friend-info-url="{% url 'get_friend_info' %}"
    >
      {% include '_messages.html' %}
    </div>


    </body>
  </html>