{% load static %} {% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://localhost:8097"></script>
    <script type="module">
      import RefreshRuntime from "http://localhost:5173/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat - ChitChat</title>
    {% vite_hmr_client %} {% vite_asset 'src/main.tsx' %}
  </head>
  <body>
    {% comment %} {% csrf_token %} {% endcomment %}
    <div id="react-chat-page"></div>
  </body>
</html>
